<h1 style=text-align:center;><%= @subscriber.count %> Subscribers</h1>

<%= search_form_for @search do |f| %>
<%= f.condition_fields do |c| %>
    <%= render "condition_fields", f: c %>
  <% end %>
  <p><%= link_to_add_fields "Add Conditions", f, :condition %></p>
  <div class="field">
    Sort:
    <%= f.sort_fields do |s| %>
      <%= s.sort_select %>
    <% end %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

<table class="table table-striped">
    <thead>
      <tr>
        <th><%= sort_link @search, :first_name, "First Name" %></th>
        <th><%= sort_link @search, :last_name, "Last Name" %></th>
        <th><%= sort_link @search, :email, "Email" %></th>
        <th><%= sort_link @search, :phone_number, "Phone" %></th>
        <th><%= sort_link @search, :created_at, "Date Joined" %></th>
        <th><%= sortable "expiration_date", "Expiration" %></th>
        <th><%= sort_link @search, :visit, "Visits" %></td>
        <th><%= sortable "days_till_expired", "Days Remaining" %></td>
      </tr>
    </thead>
      <tbody>
        <% @subscriber.each do |subscriber| %>
          <tr>
            <td><%= subscriber.first_name %></td>
            <td><%= subscriber.last_name %></td>
            <td><%= subscriber.email %></td>
            <td><%= subscriber.phone_number %></td>
            <td><%= subscriber.date_joined %></td>
            <td><%= subscriber.expiration_date %></td>
            <td><%= subscriber.visit %></td>
            <td><%= subscriber.days_till_expired %></td>
          </tr>
        <% end %>
      </tbody>
  </table>
